body {
    background-color: black !important;
    background-repeat: repeat;
}

.page1 {
    background-image: url('media/noise-tile-5.gif');
}

.page1 video {
    height: 100vh;
    width: auto;
    display: block;
    margin: 0 auto;
}